<h2 class="mb-5"><%= current_game.teams.count %> Times | <%= current_game.words.count %> Palavras</h2>
<div class="d-grid gap-2">
  <%= link_to "Cadastrar Times", teams_path, class: "btn btn-warning btn-lg w-100" %>
  <%= link_to "Cadastrar Palavras", new_word_path, class: "btn btn-warning btn-lg w-100" %>
  <% if current_game.ended? %>
    <%= link_to "Pontuação Final", scoreboard_path, class: "btn btn-warning btn-lg w-100" %>
  <% elsif current_game.started_yet? %>
    <%= link_to "Voltar ao Jogo", edit_step_path(current_game.next_step), class: "btn btn-warning btn-lg w-100" %>
  <% else %>
    <%= link_to "Iniciar Jogo", games_path, data: { "turbo-method": :post }, class: "btn btn-warning btn-lg w-100" %>
  <% end %>
  <%# <%= link_to "Resetar Jogo", reset_game_path, data: { "turbo-method": :delete, turbo_confirm: "Você tem certeza disso?" }, class: "btn btn-warning btn-lg button-large", id: "reset_game" %>
  <div data-controller="reset" data-reset-url-value="<%= reset_game_url %>" class="w-100">
    <button data-action="click->reset#reset" class="btn btn-warning btn-lg w-100">
      Resetar Jogo
    </button>
  </div>
</div>
