<h3>
  <%= t(".title") %><br/>
</h3>
<p>
  <%= t(".last_round") %>
  <small class="text-warning">
    <%= t(".subtitle.#{@round.kind}", team_name: @round.team.name) %>
  </small>
</p>

<div class="mt-5 mb-5">
  <% @teams.each_with_index do |team, index| %>
    <div class="row mb-2">
      <div class="col-6">
        <div class="">
          <% final = (index + 1) %>
          <%= final %>º - <%= team.name %>
        </div>
      </div>
      <div class="col-1">
        <%= team.first_round_points %>
      </div>
      <div class="col-1">
        <%= team.second_round_points %>
      </div>
      <div class="col-1">
        <%= team.third_round_points %>
      </div>
      <div class="col-1">
        -
      </div>
      <div class="col-1">
        <%= team.total_points %>
      </div>
    </div>
  <% end %>
</div>

<% if current_game.ended? %>
  <%= link_to 'Início', root_path, class: "btn btn-success btn-lg w-100" %>
<% else %>
  <% next_step = current_game.next_step %>
  <%= link_to t(".button.#{next_step.round_kind}"), step_path(next_step), class: "btn btn-success btn-lg w-100" %>
<% end %>
