<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>AfricaGame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="d-flex flex-column h-100">
    <div class="header mt-5 d-flex justify-content-center">
      <% unless current_page?(root_path) %>
        <%= link_to root_path, class: 'text-white text-decoration-none' do %>
          <i data-feather="arrow-left-circle" class="me-2"></i>
        <% end %>
      <% end %>
      <h1 class="">ÁFRICA GAME</h1>
    </div>
    <div class="container text-center">
      <%= yield %>
    </div>
    <footer class="mt-auto text-white-50">
      <p class="container text-center">
      <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal">Developed by bolovers</a>
      </p>
    </footer>
  </body>
  <% if flash[:notice] %>
    <div class="toast-container position-fixed bottom-0 top-0 p-5 w-100">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body bg-success">
          <%= flash[:notice] %>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
  <% end %>
  <!-- Link to trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageModalLabel">Image Title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="<%= asset_path("bolovers.jpeg") %>" class="img-fluid" alt="Bolovers">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</html>
